.card {
    max-width: 345px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.cardMedia {
    min-height: 140px;
}

.cardContent {
    height: 100%;
}

.title {}

.description {
}

.cardActions {}

.primaryLink:hover {
    background-color: #3f51b5 !important;

}